<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<properties resource="db.properties"/>
	<environments default="development">
		<environment id="development">
		<transactionManager type="JDBC"/>
		<dataSource type="POOLED">
			<property name="driver" value="${driver}"/>
			<property name="url" value="${host}"/>
			<property name="username" value="${username}"/>
			<property name="password" value="${password}"/>
		</dataSource>
	</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/BoardMapper.xml"/>
		<mapper resource="mapper/MemberMapper.xml"/>
		<mapper resource="mapper/BoardClassMapper.xml"/>
		<mapper resource="mapper/ClassCurriculumMapper.xml"/>
		<mapper resource="mapper/ClassRegMapper.xml"/>
		<mapper resource="mapper/ClassSubjectMapper.xml"/>
		<mapper resource="mapper/MyClassMapper.xml"/>
		<mapper resource="mapper/ReviewMapper.xml"/>
		<mapper resource="mapper/BoardLikesMapper.xml"/>
		<mapper resource="mapper/BoardCategoryMapper.xml"/>
		
	</mappers>
</configuration>
