@charset "utf-8";
* {
	font-family: "Gowun Dodum", sans-serif;
	font-weight: 400;
  	font-style: normal;
}
.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo-cookie {
  width: 85px;
  height: 85px;
}
.signup-cookie {
  width: 20px;
  height: 20px;
}
.icon-cookie {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.thumbnail-cookie {
	width: 188px !important;
	height: 195px !important;
}
.border-cookie-right{
  border-right: 1px solid #e4cbb3;
}
.border-cookie-bottom {
  border-bottom: 1px solid #e4cbb3;
}
.oneday-list-cookie {
  width: 150px;
}
.oneday-view-cookie {
	width: 600px;
	height: 450px;
}
.review-cookie {
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.detail-cookie {
	max-width: 800px;
}
.dropdown-cookie {
  border-color: #d1b098;
}
.font-icon-cookie {
  color:#a67c68;
}
.border-cookie-detail {
  border-radius: 15px;
}
.btn-cookie {
    color: #fff;
    background-color: #e4cbb3; /* 주조색 */
    border-color: #e4cbb3; /* 테두리 색상 */
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  .btn-cookie:hover {
    background-color: #d1b098; /* hover 상태 색상 */
    border-color: #d1b098;
    color: #eee;
  }
  .btn-cookie:disabled {
    color: #755c4b; /* 비활성화 상태 텍스트 색상 */
    background-color: #fce6d8; /* 비활성화 상태 배경색 */
    border-color: #fce6d8; /* 비활성화 상태 테두리 색상 */
  }

  .bg-cookie {
    background-color: #e4cbb3 !important; /* 주조색 */
    transition: background-color 0.3s ease;
  }

  .text-cookie {
    color: #e4cbb3 !important; /* 주조색 */
    transition: color 0.3s ease;
  }

  /* 추가적인 보조 색상 */
  .btn-cookie-secondary {
    color: #fff;
    background-color: #a67c68; /* 어울리는 보조 색상 */
    border-color: #a67c68;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  .btn-cookie-secondary:hover, .btn.btn.btn-cookie.btn:active{
    background-color: #8a6554; /* hover 상태 */
    border-color: #8a6554;
    color: #eee;
  }
  :not(.btn-secondary-cookie)+.btn:active{
    background-color: #503a30; /* hover 상태 */
    border-color: #503a30;
    color: #eee;
  }
  .btn-cookie-secondary:disabled {
    color: #705b51; /* 비활성화 상태 텍스트 색상 */
    background-color: #d6c4bd; /* 비활성화 상태 배경색 */
    border-color: #d6c4bd; /* 비활성화 상태 테두리 색상 */
  }

  .bg-cookie-secondary {
    background-color: #a67c68 !important; /* 보조 색상 */
    transition: background-color 0.3s ease;
  }

  .text-cookie-secondary {
    color: #a67c68 !important; /* 보조 색상 */
    transition: color 0.3s ease;
  }

  .hide {display:none}
  
  .active>.page-link, .page-link.active {
  	background-color:#e4cbb3;
  } 