<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
	<resultMap type="vo.Board" id="board">
		<id column="pno" property="pno"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="writer" property="writer" />
		<result column="regdate" property="regdate" />
		<result column="updatedate" property="updatedate" />
		<result column="view_count" property="viewCount" />
		<result column="cno" property="cno" />
		<result column="attach_flag" property="attachFlag" />
		<result column="likes" property="likes" />
	</resultMap>
  	<insert id="insert">
   	 insert into tbl_board (title, writer, content, cno) values(#{title},#{writer},#{content},#{cno})
   	<selectKey order="AFTER" keyProperty="pno" resultType="long">
	select max(pno) from tbl_board
   	</selectKey>
  	</insert>

   	<select id="selectOne" resultType="vo.Board">
   	 select  * from tbl_board where pno = #{pno}
  	 </select>
	
  	 <select id="getCount" resultType="int">
    	select count(*) as cnt from tbl_board where cno = #{category}
  	 </select>

   	<select id="selectList" resultType="vo.Board">
		select * from tbl_board where cno = #{category} order by 1 desc limit #{amount} offset #{offset} 
   	</select>
   
	<update id="update">
		update tbl_board set title = #{title}, content = #{content}, updatedate = now() where pno = #{pno}
	</update>
	
	 <update id="increaseViewCount" >
    	update tbl_board set view_count = view_count +1 where pno = #{pno}
	 </update>
	 <delete id="delete" >
    	delete from tbl_board where pno = #{pno} 
	 </delete>
	  <insert id="write">
	  insert into tbl_board (title, content, writer) values (#{title}, #{content}, #{writer})
	  </insert>

</mapper>


	
	
	
