<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardLikesMapper">
	<select id="selectOne" resultType="vo.BoardLikes">
	select * from tbl_likes where pno = #{pno} and id = #{id}
	</select>
</mapper>


	
	
	
