<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.BoardClassMapper">
  	<sql id="searchSql">
  		<if test="cri.type != null">
	    	<trim prefix="and (" suffix=")" prefixOverrides="or">
				<foreach collection="cri.typeArr" item="t">
					<if test='t == "T"'>
						or title like concat('%', #{keyword}, '%')
					</if>
					<if test='t == "C"'>
						or content like concat('%', #{keyword}, '%')
					</if>
					<if test='t == "W"'>
						or host like concat('%', #{keyword}, '%')
					</if>
				</foreach>    	
	    	</trim>
	    </if>
  	</sql>
  	<resultMap type="vo.BoardClass" id="boardClass">
  		<id column="cbno" property="cbno"/>
  		<result column="title" property="title"/>
  		<result column="content" property="content"/>
  		<result column="host" property="host"/>
  		<result column="view_count" property="viewCount"/>
  		<result column="regdate" property="regdate"/>
  		<result column="updatedate" property="updatedate"/>
  		<result column="end" property="end"/>
  		<result column="accept" property="accept"/>
  		<result column="avgStar" property="avg_star"/>
  	</resultMap>
  	<select id="selectOne" resultMap="boardClass">
  		select tbc.*, nvl(avg_star, 0) avg_star
		from tbl_board_class tbc
		left join (
			select cbno, round(avg(a) * 2) / 2 avg_star from (
				select ccno, nvl(avg(score), 0) a, cbno
				from tbl_review right join tbl_class_curriculum using(ccno) group by ccno, cbno
			) a 
			group by cbno
		) a using (cbno)
  		where cbno = #{cbno}
  	</select>
  	<select id="selectList" resultMap="boardClass">
  		select tbc.*, nvl(avg_star, 0) avg_star
		from tbl_board_class tbc
		left join (
			select cbno, round(avg(a) * 2) / 2 avg_star from (
				select ccno, nvl(avg(score), 0) a, cbno
				from tbl_review right join tbl_class_curriculum using(ccno) group by ccno, cbno
			) a 
			group by cbno
		) a using (cbno)
  	</select>
  	<select id="showList" resultMap="boardClass">
  		select tbc.*, nvl(avg_star, 0) avg_star
		from tbl_board_class tbc
		left join (
			select cbno, round(avg(a) * 2) / 2 avg_star from (
				select ccno, nvl(avg(score), 0) a, cbno
				from tbl_review right join tbl_class_curriculum using(ccno) group by ccno, cbno
			) a 
			group by cbno
		) a using (cbno)
  		where accept = 1 
  		<include refid="searchSql" />
  		order by 1 desc
  		limit 18;
  	</select>
  	<select id="trendList" resultMap="boardClass">
  		select tbc.*, nvl(avg_star, 0) avg_star
		from tbl_board_class tbc
		left join (
			select cbno, round(avg(a) * 2) / 2 avg_star from (
				select ccno, nvl(avg(score), 0) a, cbno
				from tbl_review right join tbl_class_curriculum using(ccno) group by ccno, cbno
			) a 
			group by cbno
		) a using (cbno) 
		where accept = 1 
		and end = 0 
		order by view_count desc 
		limit 3
  	</select>
  	<select id="selectCbnoDesc" resultMap="boardClass">
  		select tbc.*, nvl(avg_star, 0) avg_star
		from tbl_board_class tbc
		left join (
			select cbno, round(avg(a) * 2) / 2 avg_star from (
				select ccno, nvl(avg(score), 0) a, cbno
				from tbl_review right join tbl_class_curriculum using(ccno) group by ccno, cbno
			) a 
			group by cbno
		) a using (cbno) 
  		where accept = 1 
  		and end = 0 
  		<if test="cbno != null">
  		<![CDATA[
  		and cbno < #{cbno}
  		]]>
  		</if>
  		<if test="viewCount != null">
  		<![CDATA[
  		and view_count < #{viewCount}
  		]]>
  		</if>
  		<include refid="searchSql" />
  		
  		order by 
  		<if test="viewCount == null">
  		cbno 
  		</if>
  		<if test="viewCount != null">
  		view_count 
  		</if>
  		desc 
  		limit 18
  	</select>
  	<insert id="insert">
  		insert into tbl_board_class(title, content, host)
  		values (#{title}, #{content}, #{host})
  	</insert>
  	<update id="update">
  		update tbl_board_class set title= #{title}, content = #{content}, updatedate = now() where cbno = #{cbno}
  	</update>
  	<update id="increaseViewCount">
  		update tbl_board_class set view_count = view_count + 1 where cbno = #{cbno}
  	</update>
  	<delete id="delete">
  		delete from tbl_board_class where cbno = #{cbno}
  	</delete>
  </mapper>