<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.ClassCurriculumMapper">
  	<sql id="includeScore">
  		select tcc.*, nvl(round(a * 2) / 2, 0) as "avgStar" from tbl_class_curriculum  tcc
		left join (
			select avg(score) a, ccno
			from tbl_class_curriculum tcc 
			join tbl_review tr 
			using (ccno)
			group by ccno
		) a
		using (ccno)
  	</sql>
  	<select id="selectOne" resultType="vo.ClassCurriculum">
  		<include refid="includeScore" />
		where ccno = #{ccno}
  	</select>
  	<select id="selectOneByStartdate" resultType="vo.ClassCurriculum">
  		<include refid="includeScore" />
		where startdate = #{startdate} and cbno = #{cbno}
  	</select>
  	<select id="selectList" resultType="vo.ClassCurriculum">
  		<include refid="includeScore" />
  	</select>
  	<select id="selectBoardList" resultType="vo.ClassCurriculum">
  		<include refid="includeScore" />
		where cbno = #{cbno}
  	</select>
  	<select id="selectBoardOne" resultType="vo.ClassCurriculum">
  		<include refid="includeScore" /> 
  		where cbno = #{cbno} limit 1
  	</select>
  	<insert id="insert">
  		insert into tbl_class_curriculum (lname, host, startdate, max, price, location)
  		values(#{lname}, #{host}, #{startdate}, #{max}, #{price}, #{location})
  	</insert>
  	<delete id="delete">
  		delete from tbl_class_curriculum where ccno = #{ccno}
  	</delete>
  </mapper>