<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ReviewMapper">
	<resultMap type="vo.Attach" id="att">
  		<id column="uuid" property="uuid"/>
  		<result column="origin" property="origin"/>
  		<result column="path" property="path"/>
  		<result column="image" property="image"/>
  		<result column="reno" property="reno"/>
  		<result column="cbno" property="cbno"/>
  	</resultMap>
  	<resultMap type="vo.Review" id="review">
  		<id column="reno" property="reno" />
  		<result column="content" property="content"/>
  		<result column="writer" property="writer"/>
  		<result column="score" property="score"/>
  		<result column="regdate" property="regdate"/>
  		<result column="updatedate" property="updatedate"/>
  		<result column="ccno" property="ccno"/>
  		<collection property="attachs" resultMap="att"  />
  	</resultMap>
	<select id="selectOne" resultMap="review">
		select * from tbl_review where reno = #{reno}
	</select>
	<select id="selectList" resultMap="review">
		select * from tbl_review
	</select>
	<select id="calcScore" resultType="Double">
		select round(SUM(tr.score)/count(cbno), 1)
		from tbl_class_curriculum tcc, tbl_review tr 
		where tcc.ccno = tr.ccno 
		and cbno = #{cbno}
	</select>
	<select id="getReviews" resultMap="review">
		select a.*, uuid, origin, path, image from (
  		select reno, content, (select nick from tbl_member tm where tm.id = tr.writer) writer, score, tr.regdate, updatedate, ccno 
		from tbl_class_curriculum 
		join tbl_review tr using(ccno)
		where cbno = #{cbno}
		<if test="reno != null">
  		<![CDATA[
  		and reno < #{reno}
  		]]>
  		</if>
		order by reno desc
		limit 18 ) a
		left join tbl_attach ta using(reno)
  	</select>
  	<select id="getCount" resultType="int">
  		select count(*)
		from tbl_review
		join tbl_class_curriculum tcc using(ccno)
		where cbno = #{cbno}
  	</select>
	<insert id="insert">
		insert into tbl_review(content, writer, score, ccno)
		values (#{content}, #{writer}, #{score}, #{ccno})
		<selectKey resultType="long" order="AFTER" keyProperty="reno">
			select max(reno) from tbl_review
		</selectKey>
	</insert>
	<update id="update">
		update tbl_review set content = #{content}, score = #{score}, updatedate = now() where reno = #{reno}
	</update>
	<delete id="delete">
		delete from tbl_review where reno = #{reno}
	</delete>
</mapper>