<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ReviewMapper">
	<select id="selectOne" resultType="vo.Review">
		select * from tbl_review where reno = #{reno}
	</select>
	<select id="selectList" resultType="vo.Review">
		select * from tbl_review
	</select>
	<select id="calcScore" resultType="Double">
		select round(SUM(tr.score)/count(cbno), 1)
		from tbl_class_curriculum tcc, tbl_review tr 
		where tcc.ccno = tr.ccno 
		and cbno = #{cbno}
	</select>
	<select id="getReviews" resultType="vo.Review">
		select reno, content, (select nick from tbl_member tm where tm.id = tr.writer) writer, score, tr.regdate, updatedate, ccno 
		from tbl_class_curriculum 
		join tbl_review tr using(ccno)
		where cbno = #{cbno.cbno}
		order by reno desc
  	</select>
  	<select id="getCount" resultType="int">
  		select count(*)
		from tbl_review
		join tbl_class_curriculum tcc using(ccno)
		where cbno = #{cbno}
  	</select>
	<insert id="insert">
		insert into tbl_review(content, writer, score, ccno)
		values (#{content}, #{writer}, #{score}, #{ccno})
	</insert>
	<update id="update">
		update tbl_review set content = #{content}, score = #{score}, updatedate = now() where reno = #{reno}
	</update>
	<delete id="delete">
		delete from tbl_review where reno = #{reno}
	</delete>
</mapper>